{% extends "layout.html" %}


{% block registration %}
<a class="nav-link" href="{% url 'personal_finance:logout' %}">Logout</a>
{% endblock %}


{% block content %}

{% load personal_finance_extras %}
<div class="body-application">
  <header
    id="header-budget"
    class="bg-dark text-center text-light py-4 mt-5 border border-dark border-3 rounded-2"
  >
    <h1 class="mb-3">Personal Budget</h1>
    <section id="header-show-budget">
      <article class="flex-budget text-success" id="income">
        <h4 id="income-text">Income</h4>
        <p class="flex-end" id="income-value">{{user.uuid|calculate_income_total}}</p>
      </article>
      <article class="flex-budget text-danger" id="expenditures">
        <h4 id="expenditures-text">Expenditures</h4>
        <p id="expenditures-value">{{user.uuid|calculate_expense_total}}</p>
      </article>
      <article class="flex-budget" class="flex" id="available">
        <h3 class="h1">Available</h3>
        <p>{{user.uuid|get_user_owed_total_amount}}</p>
      </article>
    </section>
  </header>
  <section id="section-form" class="mt-3">
    <form id="form-category" action="{% url 'personal_finance:create_category' %}" method="POST"  class="d-flex align-items-center justify-content-center gap-4 py-2 mb-3 bg-success rounded-2">
      {% csrf_token %}
      <label for="category" class='text-light'>ADD CATEGORY</label>
      <input class="form-control" type="text" name="category" id="category" placeholder="Add Category" />
      <button type="submit" class="btn btn-primary">ADD</button>
    </form>
    <form
      method="POST"
      action="{% url 'personal_finance:create_transaction' %}"
      class="row mx-auto bg-secondary ms-3 pe-3 rounded-1"
      style="place-items: center; gap: 10px; padding: 1em 0;"
    >
    {% csrf_token %}
    <select 
      name="select-category" id="select" 
      style="width: 76px;"
      class="col-1 ms-4 bg-dark text-light border border-1 border-light rounded-2 p-1">
      {% for category in categories %}
        <option value={{category.id}}>{{category.category_name}}</option>
      {% endfor %}
    </select>
      <input
        class="col-3 input-title"
        type="text"
        name="title-form"
        id="title-form"
        placeholder="Enter the title"
      />
      <input
        class="col-6 input-value"
        type="text"
        name="value-form"
        id="value-form"
        placeholder="Enter the value"
      />
      <select 
      name="select" id="select" 
      style="width: 76px;"
      class="col-1 ms-4 bg-dark text-light border border-1 border-light rounded-2 p-1">
        <option value=0>+</option>
        <option value=1>-</option>
      </select>
      <button 
      type="submit" 
      style="width:80px"
      class="btn btn-success rounded-circle col-1">
        <i class="bi bi-check-circle"></i>
      </button>
    </form>
  </section>
  </section>
  <section class="row" id="show-badget">
    <section class="col-6 my-5" id="income">
      <h3 class="text-center text-success">Income</h3>
      <table class="table caption-top">
        <thead>
          <tr class="table-success">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          {% if transaction.type == 0 %}
          <tr>
            <th scope="row">{{transaction.budget_id}}</th>
            <td>{{transaction.name}}</td>
            <td>{{transaction.amount}}</td>
            <td>
              <a class="fas fa-edit px-2"></a>
              <a class="fas fa-trash px-2 text-danger"></a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </section>
    <section  class=" col-6 my-5" id="expenditure">
      <h3 class=" text-center text-danger">expenditure</h3>
      <table class="table caption-top">
        <thead>
          <tr class="table-danger">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          {% if transaction.type == 1 %}
          <tr>
            <th scope="row">{{transaction.budget_id}}</th>
            <td>{{transaction.name}}</td>
            <td>{{transaction.amount}}</td>
            <td>
              <a class="fas fa-edit px-2"></a>
              <a class="fas fa-trash px-2 text-danger"></a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </section>
  </section>
</div>

{% endblock %}
