{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Finance</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css/' %}" />
    <script
      src="https://kit.fontawesome.com/aaa1d1b991.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Home</a>
        <div class="navbar-nav d-flex flex-row ms-3">
          {% block registration %}
          <a class="nav-link me-3" href="/">Register</a>
          <a class="nav-link" href="{% url 'personal_finance:login' %}">Login</a>
          {% endblock %}
        </div>
      </div>
    </nav>
    <div class="container">
      {% if messages %} {% for message in messages %}
      {% if message.level == 25 %}
        <div class="alert alert-success">{{message}}</div>
      {% endif %}
      {% if message.level == 40 %}
        <div class="alert alert-danger">{{message}}</div>
      {% endif %}
      {% endfor %} {% endif %} {% block content %} {% endblock %}
    </div>
    <footer class="bg-dark">
      <div class="d-flex justify-content-evenly content-footer">
        <div class="text-light div-footer">
          <h3>Personal Budget</h3>
        </div>
        <div class="text-light div-footer">
          <h5>Personal Budget</h5>
          <p class="p-footer text-justify">
            By Deiver Vazquez, Isaac Benavidez and Jhonatan Alvarez. Copyright 2022. All rights reserved CAR IV LSV-TECH
          </p>
        </div>
        <p class="p-socialmedia text-light">Follow us:</p>
        <div class="d-flex justify-content-center text-light div-footer">
          <div class="div-icons">
            <a
              href="https://www.facebook.com/lsvtechcolombia11/"
              target="_blank"
              class="fab fa-facebook-f"
            ></a>
          </div>
          <div class="div-icons">
            <a
              href="https://www.instagram.com/lsv_tech/?hl=es"
              target="_blank"
              class="fab fa-instagram"
            ></a>
          </div>
          <div class="div-icons">
            <a
              href="https://www.youtube.com/channel/UC5gbK6qQflBM0fEObgEyYvw"
              target="_blank"
              class="fab fa-youtube"
            ></a>
          </div>
          <div class="div-icons">
            <a
              href="https://twitter.com/techlsv?lang=es"
              target="_blank"
              class="fab fa-twitter"
            ></a>
          </div>
        </div>
      </div>
      <div class="copy border-top">
        <p class="text-light text-center copy-text">
          &copy; 2022 Personal Budget
        </p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
