{% extends "layout.html"%}
{% block content %}
<div class="container d-grid body-aplication" style="width: 100%; place-items: center;">
  <div class="bg-dark px-5 py-2 rounded-3" style='width: 100%%;'>
    <h1 class="text-light text-center">Registration Form</h1>
    <form class="form" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <div class="d-grid gap-2 py-3">
        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
