@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Shadows+Into+Light&display=swap");
/* line 3 until - line 16 header-budget */
#header-budget {
  width: 45rem;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  /*font-family: 'Shadows Into Light', cursive;*/
}
.flex-budget {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.flex-budget p {
  font-size: 1.5rem;
}

/* line 18 until line 23 placeholder's colors*/
.username::placeholder {
  color: #fff9;
}
.color-placeholder::placeholder {
  color: #fff9;
}

/*line 27 until line 40 budgets's forms*/
#form-article{
 
  margin-right: -16px;
}
#form-category input{
  width: 30%;
}
#form-article .input-title{
  margin-left: 1.5em;
  width: 25%;
}
#form-article .input-value{
  width: 50%;
}

/*body templates*/
.body-aplication {
  min-height: 73vh;
}

/*line 48 until line 117 footer's styles*/
footer {
  min-height: 27vh;
}
.div-footer {
  width: 30%;
  margin-top: 30px;
}
.p-socialmedia {
  position: relative;
  top: 23px;
  right: -256px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: -40px;
}

.div-icons {
  margin: 0 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1.8px solid #fff;
  border-radius: 50%;
  width: 55px;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-icons a {
  font-size: 1.8em;
  text-decoration: none;
  padding: 48%;
  color: #fff;
}
.p-footer {
  text-align: justify;
}
.copy{
  margin-top: 1.6em;
  width: 80%;
  margin: 0 auto;
}
.copy p {
  margin-top: 30px;
}
.div-icons:hover {
  box-shadow: 0px 2px 1px #fff, 0px 2px 1px #fff;
  transform: translateY(-15px);
  transition: 0.4s;
}
.div-icons .fa-facebook-f:hover {
  color: #39569c;
  transition: 0.5s;
}
.div-icons .fa-instagram:hover {
  color: #b03ace;
  transition: 0.5s;
}
.div-icons .fa-youtube:hover {
  color: #c4302b;
  transition: 0.5s;
}
.div-icons .fa-twitter:hover {
  color: #00acee;
  transition: 0.5s;
}
.content-footer {
  margin-top: 30px;
}

/*line 112 until line 147 new dimensions*/
@media screen and (max-width: 1200px) {

  #form-article{
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /*line 129 until line 146 footer's change*/
  .div-icons {
    margin: 0 4px;
    margin-top: 30px;
    border: 1.8px solid ;
    width: 44px;
    height: 35%;
  }

  .div-icons a {
    font-size: 1.5em;
  }

  .p-footer {
    font-size: 0.9em;
  }
  .p-socialmedia {
    right: -200px;  
  }
}

@media screen and (max-width: 800px) {

  #income, #expenditure, #section-form{
    width: 90%;
  }
  #header-budget{
    width: 80%;
  }

  /*line 166 until line 197 footer's change*/

  .content-footer {
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:justify;
  }
  .div-footer {
    width: 60%;
    margin-top: 10px;
  }
  .div-icons {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 40px;
    height: 25%;
  }

  .div-icons a {
    font-size: 1.2em;
  }
  .p-socialmedia {
    margin-top:20px;
    right: 0px;  
    top:-20px;
  }
  .p-footer {
    font-size: 1em;
    text-align: justify;
  }
  .copy {
    margin-top: 1em;
    width: 60%;
    margin: 0 auto;
  }
  .copy-text{
    margin-top:10px;
  }
}
