{% extends 'layout.html' %} {% block content %}

<div class="container d-grid body-aplication" style="place-items: center;">
  <div class="bg-dark p-5 rounded-2">
    <form method="post">
      {% csrf_token %}
      <h1 class="text-center text-light">Login</h1>
      <div class="input-group flex-nowrap py-3">
        <span class="input-group-text" id="addon-wrapping"
          ><i class="fas fa-user text-primary"></i
        ></span>
        <input
          type="text"
          class="form-control bg-dark text-light color-placeholder"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="addon-wrapping"
          name="username"
        />
      </div>
      <div class="input-group flex-nowrap py-2">
        <span class="input-group-text" id="addon-wrapping"
          ><i class="fas fa-key text-primary"></i
        ></span>
        <input
          type="password"
          class="form-control bg-dark text-light color-placeholder"
          placeholder="Password"
          id=""
          aria-label="Password"
          aria-describedby="addon-wrapping"
          name="password"
          placeholder="Password"
        />
      </div>
      <div class="d-grid gap-2 py-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
